{% extends 'TestBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o"></i> {{ flashMessage|raw }}
                </div>
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title inline-block">
                        Prehľad predmetu
                    </h3>
                    <a href="{{ path('subject/add-students', {'id': subject.id}) }}" class="btn btn-success pull-right btn-xs">
                        <i class="fa fa-user-plus"></i>
                        Spravuj žiakov
                    </a>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Názov</label>
                        <input type="text" class="form-control" disabled="disabled" value="{{ subject.name }}" />
                    </div>
                    <div class="form-group">
                        <h4>Vyučujúci</h4>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Meno</th>
                                    <th>Priezvisko</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for teacher in subject.teachers %}
                                <tr>
                                    <td>{{ teacher.id }}</td>
                                    <td>{{ teacher.name }}</td>
                                    <td>{{ teacher.surname }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <h4>Testy</h4>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Názov</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for test in subject.tests %}
                                <tr>
                                    <td>{{ test.id }}</td>
                                    <td>
                                        <a href="{{ path('test/detail', {'id': test.id}) }}">
                                            {{ test.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ asset('uploads/tests/') }}{{ test.path }}" class="btn btn-info btn-xs" download="{{ test.name }}">
                                            <i class="fa fa-file-pdf-o"></i>
                                            Stiahnuť
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <h4>Žiaci v tomto predmete</h4>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Meno</th>
                                <th>Priezvisko</th>
                                <th>Tuke identif.</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in subject.users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% if not user.isEnabled %}
                                            <a href="{{ path('user/enable', {'id': user.id}) }}" class="btn btn-success btn-xs">
                                                <i class="fa fa-unlock"></i>
                                                Povoliť
                                            </a>
                                        {% else %}
                                            <a href="{{ path('user/disable', {'id': user.id}) }}" class="btn btn-danger btn-xs">
                                                <i class="fa fa-lock"></i>
                                                Zakázať
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.data-table').DataTable({
                language: {
                    url: "{{ asset('assets/js/datatables-lang/slovak.json') }}"
                }
            });
        });
    </script>
{% endblock %}