{% extends 'TestBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o"></i> {{ flashMessage|raw }}
                </div>
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">Upravenie predmetu</div>
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tests) }}
                        {{ form_widget(form.tests) }}
                        {{ form_errors(form.tests) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fa fa-book"></i>
                        Uprav predmet
                    </button>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}