{% extends 'TestBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check-square-o"></i> {{ flashMessage|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Vyučujúci</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Meno</th>
                            <th>Priezvisko</th>
                            <th>Tuke identif.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.id }}</td>
                                <td>{{ teacher.name }}</td>
                                <td>{{ teacher.surname }}</td>
                                <td>{{ teacher.username }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}